body {
    background-color: #e6e6e6;
}

body>section {
    display: flex;
    gap: 4vw;
    margin-left: 4vw;
}

aside {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;
    gap: 30px;
}

aside>div {}

div h1 {
    font-size: 40px;
}

h3, #colorPicker {
    font-size: 1em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.generateButtonsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sizes {
    position: absolute;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pixelSizePixels {}

.pixelSizePixels {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: .5px solid grey;
    position: relative;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;

    border-radius: 3px;
}

.selected {

    background-color: rgb(86, 232, 255);
}

.small {
    width: 8px;
    height: 8px;

}

.medium {
    width: 12px;
    height: 12px;
}

.large {
    width: 20px;
    height: 20px;
}

.colorArrayBoxes {
    display: flex;
    border: 1px solid grey;
}

.colorArrayBoxes>div {
    width: 30px;
    height: 30px;
    border: .5px solid rgba(128, 128, 128, 0.561);
    background-color: white;
}

.addColor {
    margin-top: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 0 20px;
    border: 1px solid grey;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(237, 237, 237);
}

.canvas {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 70vw;
    height: 90vh;
    overflow: hidden;
    background-color: rgb(171, 171, 171);
}



/* ------------------socials------------- */
section.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 50%;
    height: 40px;
}

.socials div {
    width: 15%
}

.socials div i {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;

}

.socials div i:hover {
    color: rgb(240, 255, 77);
    font-size: 1.8rem;
}

@media screen and (max-width: 1000px) {
    .hideGenerate {
        display: none;
    }

    * {
        font-size: 12px
    }



    body {
        background-color: #f0efef;
    }


    body>section {
        display: block;
        gap: 4vw;
        margin-left: 4vw;
    }

    aside {
        margin-top: 50px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
    }

    h1 {
        font-size: 1em;
    }

    h3, #colorPicker {
        font-size: 1em;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .generateButtonsContainer {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .boxes {
        display: flex;
        border: 1px solid grey;
    }

    .boxes>div {
        width: 30px;
        height: 30px;
        border: .5px solid rgba(128, 128, 128, 0.561);
        background-color: white;
    }

    .addColor {
        margin-top: 10px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        min-width: 40px;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        padding: 0 20px;
        border: 1px solid grey;
        cursor: pointer;
    }

    .button:hover {
        background-color: rgb(237, 237, 237);
    }

    .canvas {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 90vw;
        height: 55vh;
        overflow: hidden;
        background-color: rgb(171, 171, 171);
    }



    /* ------------------socials mobile------------- */
    section.socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        width: 50%;
        height: 40px;
    }

    .socials div {
        width: 15%
    }

    .socials div i {
        color: rgb(255, 255, 255);
        font-size: 1.5rem;

    }

    .socials div i:hover {
        color: rgb(240, 255, 77);
        font-size: 1.8rem;
    }

}

/* ------------------ preloader--------------------------- */

/* #preloader {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 70vw;
    height: 90vh;
    overflow: hidden;
    background: white url(Display-Loading.gif) no-repeat left center;
    background-size: 10%;
    position: absolute;
    z-index: 50;
} */